* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    transition:all 0.5s;
    border-radius: 20px;
    
}

.box video{
    width: 100%;
    height: 100%;
    
    border-radius: 20px;
    object-fit: cover;
}
.smallbox{
    width: 100%;
    height: 50%;
    background-color: rgba(128, 128, 128, 0.184);
    position: absolute;
    bottom: -50%;
    border-radius: 20px;
    transition: all ease 0.5s;
    backdrop-filter: blur(10px);
    padding-left: 10px;
}
.box:hover .smallbox{
    bottom: 0;
}
.smallbox h2{
    color: white;

}
.smallbox p{
    color: white;

}