* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.wrapper{
  width: 100%;
  position:relative;
  display: flex;

}
.instacontainer{
    height: 100vh;
    width: 100%;
    background-color: black; 
    display: flex;
}
.left{
  width: 20%;
  height: 100%;
  background-color:#FFFFFF;
  position: fixed;

}
.instagramlogo{
    height: 10vh;
    width: 100%;
    padding-left: 20px;

    display: flex;
    align-items: center;

}
.instagramlogo img{
    height: 150px;
    object-fit: cover;
}
.profile{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

}
.profile img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}
.profile h4{
    font-size: 22px;
}
.profile p{
    font-size: 14px;
}
.followercontainer{
    height: 3vh;
    width: 100%;
 
    display: flex;
}
.followercontent{
    height: 3vh;
    width: 100%;
    margin-bottom:10px ;
    display: flex;
}
.followercontent .fol{
    font-weight: 400;
    border: none;
}

.fol{
    height: 100%;
    width: calc(100%/3);

    border-left: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.username {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: start;
justify-content: center;
    flex-direction: column;
    padding-left: 26px ;
}
.right{
  width: 80%;
  height: 100%;
  background-color: aqua;
  position: fixed;
  right: 0;
  overflow: hidden;

}
.topnav{
  width: 100%;
  height: 10vh;
  background-color: #F6F6F6;
  position: fixed;
  display: flex;
  
}

.nav{
  height: 100%;
  width: calc(80%2);
  
}
.topnavleft{
  display: flex;
  align-items: center;
  padding-left: 20px;

}
.topnavleft input{
  border-radius: 50px;
  border: none;

}
.topnavright{
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  gap: 20px;

  
}
.topnavright button{
  padding:5px 10px;
  background-color: #E40976;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  position: relative;
  left: 190px;

}
.topnavright i{
  position: relative;
  left: 190px;
}
.bottomnav{
  width: 100%;
  position:fixed;
  top: 10%;
  padding-left: 20px;
}
.bottomnav h4{
    margin-bottom: 4px;
    font-weight: 500;
}
.storiescontainer{
    height: 10vh;
    width: 100%;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scrollbar-width: none;
}

.storycontainer{
    height: 100%;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#highlights{
   margin-left: 20px;
   margin-top: 20px;
   margin-bottom: 10px;
}
.sc{
    padding-left: 20px;
}
.circle{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    border-radius: 50px;
    margin-bottom: 3px;
    border: 2px solid #E40976;
}
.circle img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}
.bottomsection{
    height: 30vh;
    width: 100%;
    background-color: #F6F6F6;
    margin-top: 20px;
    padding-left:20px ;
}
.bottomcontent{
    display: flex;
    gap:5px;
    height: 5vh;
    width: 100%;

}