* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.wrapper{
    width: 100%;
    position: relative;

}
.parent{
    background-color: black;
    width: 100%;
    height: 80vh;
    
}
nav{
    width: 100%;
    height: 8vh;
    background-color: rgb(20, 20, 19);
}
nav a{
    
    color: white;
    font-size: 10px;

}
.container{
    width: 100%;
    background-color: aqua;
    display: flex;

}
.box1{
    width: 100%;
    height: 50vh;
    background-color: rgb(207, 208, 208);
    
    
}

.box2{
    width: 100%;
    height: 50vh;
    background-color: aqua;
}
.box3{
    width: 100%;
    height: 50vh;
    background-color: rgb(249, 78, 44);
}
.box4{
    width: 100%;
    height: 50vh;
    background-color: rgb(221, 31, 139);
}
.bottomnav{
    color: white;
    position: relative;
    font-size: 30px;
}
.bottomnav img{
    width: 40px;
    height: 40px;
}